@model nomnomnavis.Models.Restaurant
@{
    ViewData["Title"] = "Restaurant Details";
}

<h2>@Model.Name</h2>
<p><strong>Address:</strong> @Model.Address</p>
<p><strong>Hours:</strong> @Model.Hours</p>
<p><strong>Cuisine:</strong> @Model.Cuisine</p>

<h3>Reviews</h3>

<form asp-action="AddReview">
    <input type="hidden" name="restID" value="@Model.Id" />
    <button type="submit"
            class="btn btn-sm bg-light border-2 border-secondary pull-right"
    >
        Add Review
    </button>
</form>

@if (ViewBag.Reviews.Count > 0)
{
    <ul>
        @foreach (var review in ViewBag.Reviews)
        {
            <li>@review.Content - ⭐ @review.Rating</li>
        }
    </ul>
}
else
{
    <p>No reviews yet.</p>
}
<a href="/Restaurant/Favorite/@Model.Id" class="btn btn-primary">❤️ Save as Favorite</a>
